@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

body{
  font-family: 'Asap', sans-serif;
}

$bright: #F03145;
$bright-secondary: #A85C58;
$light: #fdfdfd;
$container-width: 960px;
$default-shadow: 0px 5px 5px rgba(0,0,0,0.3);
$light-text: rgba(255,255,255,0.9);
$dark-text: rgba(0,0,0,0.9);

// $message-green: #39ff5a;
$message-green: #B1F6CB;
$message-white:  #fdfdfd;
$message-grey: #d8d8d8;
$message-dark-grey: #aeb9cc;
$message-blue: #218aff;